In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,3), index=pd.date_range('01/06/2020', periods = 10), columns=['col1', 'col2', 'col3'])
df.rolling(window=2).mean()

                col1      col2      col3
2020-01-06       NaN       NaN       NaN
2020-01-07 -0.355393  1.576755  1.543954
2020-01-08 -0.426898  0.853075  0.705909
2020-01-09 -0.778223  0.549172 -0.021554
2020-01-10  0.609102  1.525444  0.432229
2020-01-11  1.255967  0.654184  0.201404
2020-01-12  0.510317  0.472704 -0.334494
2020-01-13  0.241064  0.822930 -0.089247
2020-01-14  0.638795  0.299070  0.310458
2020-01-15  0.598963  0.093205 -0.424058

In [25]:
# df2 = pd.DataFrame([[1,2],[3,4],[4,5]])
# df2
# df3 = df2.iloc[:,:1]
# df3[0] = 100
# df3
ds = pd.Series([1,2,3,4])
ds[0] =100
ds1 = ds[:1]
ds1[0] = 300
ds

df3 = pd.DataFrame([3,2,1])
df4 = df3[:]
df3.iloc[0] = 300

df3.sort_values(by=[0], inplace = True)
df3

     0
2    1
1    2
0  300

In [35]:
list1 = [1,2,3,4,5]
def add(x):
    return x + 100

result1 = map(add, list1)
list(result1)

df5 = pd.DataFrame([[1,2], [3,4]], columns=['col1', 'col2'])
df5['col1'].map(add)

list2 = [1,2,3,2,1]
df6 =pd.DataFrame(list2)
df6

kinds = {1:'pig', 2:'cow', 3:'chicken'}
kinds
df6[0].map(lambda y: kinds[y])

0        pig
1        cow
2    chicken
3        cow
4        pig
Name: 0, dtype: object