In [53]:
import numpy as np
import pandas as pd

df = pd.DataFrame([1,2,3,4,5,6,7,8,9], index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1,2,3,1,3,1,2,2,3]])
df.index
df.loc['a']
df.loc['b']
df.loc['a', 1]
df.index
df.loc[['a','b']]
df
df2 = df.unstack()
df2

     0
     1    2    3
a  1.0  2.0  3.0
b  4.0  NaN  5.0
c  6.0  7.0  NaN
d  NaN  8.0  9.0

In [6]:
import numpy as np
import pandas as pd

df2 = pd.read_excel('../data/score.xlsx',encoding='UTF-8',index_col = 0,header=0,sheet_name='Sheet2')
df2
df2.stack().unstack()

df5 = pd.read_excel('../data/score.xlsx', header=[0,1], index_col=0, sheet_name='Sheet1')
df5.stack(level=0)

          과학   수학
홍길동 1학기  100   10
    2학기   30   20
이순신 1학기   80   30
    2학기   50   40
강감찬 1학기   30   20
    2학기   90   10
권율  1학기   40   90
    2학기   90  100