In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'c1': np.random.randint(20, size=20), 
'c2':np.random.randn(20)})
df

    c1        c2
0    0 -0.330565
1    2 -1.002773
2   10 -1.553884
3    9  0.708405
4    5 -0.119043
5    8 -0.791177
6    8  1.037604
7    1 -0.773755
8    7 -0.837361
9    3 -0.716108
10  10  0.356637
11  19  0.229413
12  18  0.310186
13  14 -1.252190
14   2 -0.051728
15  19 -1.147611
16  19 -1.123890
17   5 -0.701223
18  17 -0.397388
19  11 -0.803785

In [6]:
fc1 = pd.cut(df.c1, 4) #c1 컬럼에 대해 4개의 동일한 길이로 범주를 만들어라

In [10]:
gc1 = df.c1.groupby(fc1)
gc1.min()

c1
(-0.019, 4.75]     0
(4.75, 9.5]        5
(9.5, 14.25]      10
(14.25, 19.0]     17
Name: c1, dtype: int32