In [96]:
import numpy as np
import pandas as pd

arr = np.arange(12.).reshape((3,4))
arr - arr[0]

frame = pd.DataFrame(np.arange(12.).reshape((4,3)), columns=list('bcd'), index=['utah', 'ohio','taxes', 'oregen'])
series = frame.iloc[0]
frame
series

frame - series

series2 = pd.Series(range(3), index=['b', 'e', 'f'])
frame + series2

series3 =frame['d']
frame
series3
frame.sub(series3, axis = 'index')

          b    c    d
utah   -2.0 -1.0  0.0
ohio   -2.0 -1.0  0.0
taxes  -2.0 -1.0  0.0
oregen -2.0 -1.0  0.0

In [99]:
frame = pd.DataFrame(np.random.randn(4,3), columns=list('bde'), index = ['utah', 'ohio','taxes', 'oregen'])
frame

               b         d         e
utah    0.286186 -1.747743 -0.242106
ohio   -1.319534 -0.278169  0.549588
taxes   0.534385 -0.439665 -0.350817
oregen  0.143704  1.629440 -0.142479