In [2]:
import pandas as pd

In [4]:
train = pd.read_csv('titanic/train.csv')
test = pd.read_csv('titanic/test.csv')

특성공학 머신러닝을 위한 데이터 전처리

In [6]:
trainTestData = [train, test]

for d in trainTestData:
    d['title'] = d['Name'].str.extract(' ([A-Za-z]+)\.')

In [8]:
train.title.value_counts()
test.title.value_counts()

Mr        240
Miss       78
Mrs        72
Master     21
Rev         2
Col         2
Ms          1
Dr          1
Dona        1
Name: title, dtype: int64

In [10]:
tm={"Mr":0, "Miss":1, "Mrs":2,  
    "Master":3, "Rev":3, "Col":3, "Dona":3, "Dr":3,
    "Ms":2, "Jonkheer":3,"Countess":2,"Lady":2,   
    "Sir":3, "Don":3,"Capt":3,"Mme":3,      
    "Major":3,"Mlle":3 }
for data in trainTestData:
    data['title']=data['title'].map(tm)

In [11]:
tm={"male":0, "female":1}
for data in trainTestData:
    data['Sex']=data['Sex'].map(tm)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  title        891 non-null    int64
dtypes: float64(2), int64(7), object(4)
memory usage: 90.6+ KB

In [14]:
train.groupby("title")['Age'].transform('median')

0      30.0
1      35.0
2      21.0
3      35.0
4      30.0
       ...
886     9.0
887    21.0
888    21.0
889    30.0
890    30.0
Name: Age, Length: 891, dtype: float64

In [16]:
train['Age'].fillna(train.groupby("title")['Age'].transform('median'), inplace=True)
test['Age'].fillna(test.groupby("title")['Age'].transform('median'), inplace=True)
#Mr 호칭, 나이 Nan -> Mr의 나이 중간값으로 NaN을 대체

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  title        891 non-null    int64
dtypes: float64(2), int64(7), object(4)
memory usage: 90.6+ KB

In [18]:
for data in trainTestData:
    data.loc[data['Age']<=10,'Age']=0, #age가 16세 이하인 경우 0으로 처리
    data.loc[(data['Age']>10) & (data['Age']<=19),'Age']=1,
    data.loc[(data['Age']>19) & (data['Age']<=29),'Age']=2,
    data.loc[(data['Age']>29) & (data['Age']<=39),'Age']=3,
    data.loc[(data['Age']>39) & (data['Age']<=49),'Age']=4,
    data.loc[(data['Age']>49) & (data['Age']<=59),'Age']=5,
    data.loc[(data['Age']>59) & (data['Age']<=69),'Age']=6,
    data.loc[data['Age']>69,'Age']=7

In [20]:
train.Age.value_counts()

3.0    303
2.0    256
1.0    100
4.0     89
0.0     69
5.0     48
6.0     19
7.0      7
Name: Age, dtype: int64

In [21]:
tm={"S":0, "C":1, "Q":2}
for data in trainTestData:
    data['Embarked']=data['Embarked'].map(tm)

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    float64
 12  title        891 non-null    int64
dtypes: float64(3), int64(7), object(3)
memory usage: 90.6+ KB

In [29]:
for data in trainTestData:
    data.loc[data['Fare']<=17,'Fare']=0, #age가 16세 이하인 경우 0으로 처리
    data.loc[(data['Fare']>17) & (data['Fare']<=30),'Fare']=1,
    data.loc[(data['Fare']>30) & (data['Fare']<=100),'Fare']=2,
    data.loc[data['Fare']>100,'Fare']=3

In [30]:
for data in trainTestData:
    data['Cabin']=data.Cabin.str[:1]

In [31]:
tm={"A":0,"B":0.5,"C":1.0,"D":1.5,"E":2.0,"F":2.5,
   "G":3.0,"T":3.5} #T는 알아서 변경해보세요
for data in trainTestData:
    data['Cabin']=data['Cabin'].map(tm)

In [32]:
# pclass별로 그룹화, 그룹별로 cabin 열 값에 대한 
# 중앙값으로 결측값을 대체하세요.(train, test)
train['Cabin'].fillna(
    train.groupby('Pclass')['Cabin'].
    transform('median'), inplace=True)

test['Cabin'].fillna(test.groupby('Pclass')['Cabin'].transform('median'), inplace=True)

In [ ]:
tm={"0":0,"1":0.5,"2":1.0,"3:1.2,"E":1.6,"F":2.0,
   "G":2.4,"T":2.8} #T는 알아서 변경해보세요
for data in trainTestData:
    data['Cabin']=data['Cabin'].map(tm)